<%- include('header') -%>

    <!-- <% if(listTitle==="Saturday" || listTitle==="Sunday" ){ %>
        <h1 style="color: purple"> <%= listTitle%> To-Do List</h1>
    <% }else{ %>
        <h1 style="color: blue"> <%= listTitle%> To-Do List</h1>
    <% } %> -->
    
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <!-- <li>Eat</li>
        <li>Sleep</li>
        <li>Repeat</li> -->

        <% newListItems.forEach(function(item){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                    <p><%= item.name %></p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>"></input>
            </form>
        <% }) %>
        

        <form class="" action="/" method="post">
            <input type="text" placeholder="New Item" name="newItem">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>

<%- include('footer') -%>